<%- include ('header') %>
<% if (typeof user === 'undefined'){ %>
    <%- include ('navbar_visitor') %>
<% } else { %>
    <%- include ('navbar_user') %>
<% } %>
<div class="container mt-4">
    <div class="row g-5">
        <% if (typeof user === 'undefined'){ %>
            <div class="col-12 col-md-8">
                <div class="row">
                    <%- include('welcome')%>
                    <% for (let i = tweets.length - 1; i >= 0; i--){ %>
                        <%- include('tweetcard', {tweet: tweets[i]})%>
                    <% } %>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <%- include('forms/login')%>
            </div>
        <% } else { %>
            <div class="col-12">
                <div class="row">
                    <%- include('welcome')%>
                    <% for (let i = tweets.length - 1; i >= 0; i--){ %>
                        <%- include('tweetcard', {loggedInUser: true, tweet: tweets[i]})%>
                    <% } %>
                </div>
            </div>
        <% } %>
    </div>
</div>

<%- include ('footer') %>